input[type=range] {
    -webkit-appearance: none;
    width: 100%;
    margin: 0.7px 0;
    border-radius: 20px;
  }
  input[type=range]:focus {
    outline: none;
  }
  input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 25.6px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #fff;
    border: 0px solid #010101;
    border-radius: 20px;
  }
  input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 26px;
    width: 26px;
    background: rgba(255, 67, 95, 0.93);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.7px;
    border-radius: 20px;
  }
  input[type=range]:focus::-webkit-slider-runnable-track {
    background: #fff;
    border-radius: 20px;
  }
  input[type=range]::-moz-range-track {
    width: 100%;
    height: 25.6px;
    cursor: pointer;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
    background: #fff;
    border-radius: 20px;
    border: 0px solid #010101;
  }
  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 26px;
    width: 26px;
    border-radius: 20px;
    background: rgba(255, 67, 95, 0.93);
    cursor: pointer;
  }
  input[type=range]::-ms-track {
    width: 100%;
    height: 25.6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  input[type=range]::-ms-fill-lower {
    background: #fff;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-fill-upper {
    background: #fff;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  }
  input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 1px #670000, 0px 0px 0px #810000;
    border: 0px solid #ff1e00;
    height: 26px;
    width: 26px;
    border-radius: 20px;
    background: rgba(255, 67, 95, 0.93);
    cursor: pointer;
    height: 25.6px;
  }
  input[type=range]:focus::-ms-fill-lower {
    background: #fff;
  }
  input[type=range]:focus::-ms-fill-upper {
    background: #fff;
  }

  