* {
    font-family: fantasy;
}
html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../img/bg-img.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    color: #fff;
    letter-spacing: 1.5px;
}
.game-info {
    position: absolute;
    left: 18vw;
    background-color: darkolivegreen;
    border: 1px solid #fff;
    opacity: .9;
    padding: 50px;
}

strong {
    font-size: 40px;
}

p strong {
    font-size: 30px;
}
canvas {
    background-color: darkolivegreen;
    border: 1px solid #fff;
    opacity: .9;
    position: absolute;
    right: 50px;
}
.game-over {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background-color: darkolivegreen;
    border: 1px solid #fff;
    opacity: .9;
    text-align: center;
    z-index: 5;
}
.game-over h1 {
    font-size: 20vh;
}
.game-over button {
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    font-size: 6vh;
    border-radius: 3vh;
    padding: 3vh 6vh;
    cursor: pointer;
}
.game-over button:hover {
    background-color: coral;
    transition: 1s ease-out;
    outline: none;
}

@media screen and (max-width: 1024px) {
    .game-info {
        left: 5vw;
    }
}